.form {
    box-shadow: 10px 0 100px 0 rgba(0, 0, 0, 0.5);
    padding: 4em 2em;
}

.form__group + .form__group {
    margin: 1em 0;
}
.form__input {
    width: 100%;
    padding: 1em;
    // font-size: 1.5rem;
    color: $white;

    // border: 1px solid white;
    margin-top: 0.2em;
    border: none;
    border-radius: 5px;
    background-color: $black;
    box-shadow: inset 0 0 100px 0 rgba($color: #000000, $alpha: 0.5);

    font-family: $ff;
}

.error-message {
    color: $danger;
    font-size: 0.7rem;

}

.is-invalid {
    border: 1px solid $danger;
    // box-shadow: inset 0 0 100px 0 rgba($color: $danger, $alpha: 0.1);
}

@media only screen and (min-width: 600px) {

    .form {
        margin: auto;
        width: 80%;
    }

}

