// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$ff: $font-family-sans-serif;

$white: #fff;
$gray: rgb(206, 206, 206);
$black: #000;

$bg-color: #242424;
$color: $white;

$primary: #487BFF;
$secondary: #29E5FF;
$danger: #ff1313;
