// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$ff: $font-family-sans-serif;

$white: rgb(214, 214, 214);
$gray: #1f4068;
$black: #1b1b2f;

// $bg-color: #242424;
$bg-color: $black;
$color: $white;

$primary: #162447;
$secondary: #29E5FF;
$danger: #e43f5a;
