// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

// Variables
@import 'variables';
@import 'navbar';
@import 'form';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
  color: $color;
  font-family: $ff;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.page__header {
    font-size: 3rem;
}
.list {
  margin: 1em 0;
  list-style-type: none;

  &--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
    gap: 1em;
  }

  &-item {
    background-color: $primary;
    padding: 1em 2em;
  }

  &-item__title {
    font-size: 2rem;

    display: flex;
    align-items: center;
  }

  &-item__link {
    text-decoration: none;
    color: $white;;
  }

  &-item__body {
    margin-bottom: 0.5em;
    color: $white;
  }

  &-item__footer {
    color: darken($color: $white, $amount: 1);
    font-size: 0.8rem;

    &::before {
      content: '- ';
    }
  }

  &-item__group {
    display: grid;
    grid-template-columns: 1fr max-content;

    margin-bottom: 0.5em;
  }

  &-item__button {
    color: $secondary;
    font-weight: bold;

    &:hover {
      color: $white
    }
  }

  &-item__image-container {
    display: flex;
    align-items: center;
  }
}

.image {
  width: 100%;

}

.book {

  &__title {
    font-size: 3rem;
  }

  &__author-name {
  font-size: 0.7rem;
  color: $gray;
  font-style: italic;

    &::before {
      content: '- ';
    }
  }

  &__body {
    margin: 1em 0;
  }
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 2em;
  // margin: 1em 0;
  border: none;
  font-family: $ff;
  font-size: 1.5rem;
}

.button--secondary {
  background-color: $secondary;
  color: $black;
}

.button--primary {
    background-color: $primary;
    color: $white;
}
.u-display-none {
  display: none;
}
