@import url("https://fonts.googleapis.com/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
.main__navigation {
  background-color: #162447;
  margin-bottom: 1em;
  position: relative;
}
.main__navigation__logo a {
  display: block;
  width: 100px;
  display: flex;
  align-items: center;
}
.main__navigation .container {
  display: flex;
  justify-content: space-between;
}

.menu {
  list-style-type: none;
  position: absolute;
  background-color: #162447;
  top: 100%;
  right: 0;
  left: 0;
  transform: scale(1, 0);
  transition: transform 400ms ease-in-out;
  transform-origin: top;
}

.menu__item {
  margin-bottom: 1em;
  margin-left: 3em;
}

.menu__link {
  color: white;
  text-decoration: none;
}

.navbar-toggle-checkbox {
  display: none;
}

.navbar-toggle-checkbox:checked ~ .menu {
  transform: scale(1, 1);
}

.navbar-toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navbar-toggle-label span,
.navbar-toggle-label span::before,
.navbar-toggle-label span::after {
  width: 30px;
  height: 2px;
  border-radius: 3px;
  background-color: #d6d6d6;
  position: relative;
}
.navbar-toggle-label span::before,
.navbar-toggle-label span::after {
  content: "";
  position: absolute;
}
.navbar-toggle-label span::before {
  top: -0.5em;
}
.navbar-toggle-label span::after {
  bottom: -0.5em;
}

@media only screen and (min-width: 600px) {
  .menu {
    transform: scale(1, 1);
    all: unset;
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  .menu__item {
    all: unset;
    margin: 0 1em;
  }

  .navbar-toggle-label {
    display: none;
  }

  .menu__link {
    position: relative;
  }

  .menu__link::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.2em;
    height: 3px;
    background-color: #29E5FF;
    transform: scale(0, 1);
    transition: transform 250ms ease-in-out;
  }

  .menu__link:hover {
    color: #29E5FF;
  }
  .menu__link:hover::before {
    transform: scale(1, 1);
  }

  .menu__link--danger:hover {
    color: #e43f5a;
  }
  .menu__link--danger::before {
    background-color: #e43f5a;
  }
}
.form {
  box-shadow: 10px 0 100px 0 rgba(0, 0, 0, 0.5);
  padding: 4em 2em;
}

.form__group + .form__group {
  margin: 1em 0;
}

.form__input {
  width: 100%;
  padding: 1em;
  color: #d6d6d6;
  margin-top: 0.2em;
  border: none;
  border-radius: 5px;
  background-color: #1b1b2f;
  box-shadow: inset 0 0 100px 0 rgba(0, 0, 0, 0.5);
  font-family: "Nunito", sans-serif;
}

.error-message {
  color: #e43f5a;
  font-size: 0.7rem;
}

.is-invalid {
  border: 1px solid #e43f5a;
}

@media only screen and (min-width: 600px) {
  .form {
    margin: auto;
    width: 80%;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1b1b2f;
  color: #d6d6d6;
  font-family: "Nunito", sans-serif;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.page__header {
  font-size: 3rem;
}

.list {
  margin: 1em 0;
  list-style-type: none;
}
.list--grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}
.list-item {
  background-color: #162447;
  padding: 1em 2em;
}
.list-item__title {
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.list-item__link {
  text-decoration: none;
  color: #d6d6d6;
}
.list-item__body {
  margin-bottom: 0.5em;
  color: #d6d6d6;
}
.list-item__footer {
  color: lightgray;
  font-size: 0.8rem;
}
.list-item__footer::before {
  content: "- ";
}
.list-item__group {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin-bottom: 0.5em;
}
.list-item__button {
  color: #29E5FF;
  font-weight: bold;
}
.list-item__button:hover {
  color: #d6d6d6;
}
.list-item__image-container {
  display: flex;
  align-items: center;
}

.image {
  width: 100%;
}

.book__title {
  font-size: 3rem;
}
.book__author-name {
  font-size: 0.7rem;
  color: #1f4068;
  font-style: italic;
}
.book__author-name::before {
  content: "- ";
}
.book__body {
  margin: 1em 0;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 2em;
  border: none;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
}

.button--secondary {
  background-color: #29E5FF;
  color: #1b1b2f;
}

.button--primary {
  background-color: #162447;
  color: #d6d6d6;
}

.u-display-none {
  display: none;
}

/*# sourceMappingURL=app.css.map */
