@import url("https://fonts.googleapis.com/css?family=Nunito");
.main__navigation {
  background-color: #487BFF;
  margin-bottom: 1em;
  position: relative;
}
.main__navigation__logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 3rem;
  text-align: center;
}
.main__navigation__logo a {
  text-decoration: none;
  color: #fff;
}
.main__navigation .container {
  display: flex;
  justify-content: space-between;
}

.menu {
  list-style-type: none;
  position: absolute;
  background-color: #487BFF;
  top: 100%;
  right: 0;
  left: 0;
  transform: scale(1, 0);
  transition: transform 400ms ease-in-out;
  transform-origin: top;
}

.menu__item {
  margin-bottom: 1em;
  margin-left: 3em;
}

.menu__link {
  color: white;
  text-decoration: none;
}

.navbar-toggle-checkbox {
  display: none;
}

.navbar-toggle-checkbox:checked ~ .menu {
  transform: scale(1, 1);
}

.navbar-toggle-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.navbar-toggle-label span,
.navbar-toggle-label span::before,
.navbar-toggle-label span::after {
  width: 30px;
  height: 2px;
  border-radius: 3px;
  background-color: #fff;
  position: relative;
}
.navbar-toggle-label span::before,
.navbar-toggle-label span::after {
  content: "";
  position: absolute;
}
.navbar-toggle-label span::before {
  top: -0.5em;
}
.navbar-toggle-label span::after {
  bottom: -0.5em;
}

@media only screen and (min-width: 600px) {
  .menu {
    transform: scale(1, 1);
    all: unset;
    list-style-type: none;
    display: flex;
    align-items: center;
  }

  .menu__item {
    all: unset;
    margin: 0 1em;
  }

  .navbar-toggle-label {
    display: none;
  }

  .menu__link {
    position: relative;
  }

  .menu__link::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.2em;
    height: 3px;
    background-color: black;
    transform: scale(0, 1);
    transition: transform 250ms ease-in-out;
  }

  .menu__link:hover {
    color: black;
  }
  .menu__link:hover::before {
    transform: scale(1, 1);
  }

  .menu__link--danger:hover {
    color: #ff1313;
  }
  .menu__link--danger::before {
    background-color: #ff1313;
  }
}
.form {
  margin-top: 2em;
  box-shadow: 10px 0 100px 0 rgba(0, 0, 0, 0.5);
  padding: 4em 2em;
}

.form__label {
  font-size: 1.5rem;
}

.form__group {
  margin: 1em 0;
}

.form__input {
  width: 100%;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  font-size: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #242424;
  color: #fff;
  font-family: "Nunito", sans-serif;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}

.page__header {
  font-size: 4rem;
}

.list {
  margin: 1em 0;
  list-style-type: none;
}
.list-item {
  background-color: #487BFF;
  margin-bottom: 1em;
  padding: 1em;
}
.list-item__title {
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.list-item__link {
  text-decoration: none;
  color: #fff;
}
.list-item__body {
  margin-bottom: 0.5em;
  color: #cecece;
}
.list-item__footer {
  color: #cecece;
  font-size: 0.8rem;
}
.list-item__footer::before {
  content: "- ";
}

.book__title {
  font-size: 3rem;
}
.book__author-name {
  font-size: 0.7rem;
  color: #cecece;
  font-style: italic;
}
.book__author-name::before {
  content: "- ";
}
.book__body {
  margin: 1em 0;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 1em 2em;
  margin: 1em 0;
  border: none;
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
}

.button--secondary {
  background-color: #29E5FF;
  color: #000;
}

.button--primary {
  background-color: #487BFF;
  color: #000;
}

.u-display-none {
  display: none;
}

/*# sourceMappingURL=app.css.map */
